@import './styles/vars';
@import './styles/index';
@import './styles/header';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141416;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


.container {
  max-width: 1120px;
  margin: 0 auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


@media (max-width: 1024px) {
    .container {
        max-width: 864px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 608px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 400px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 311px;
    }
}